<div class="content-body">
  <div class="list-container">
    <h3 class="content-header">About</h3>
    <br>
    <img class="about-image" src="../../assets/images/flamij.png"/>
    <br>
    <br>
    <p class="content-body">
      I'm a PhD candidate in the field of computational physics and a major machine learning enthusiast. I am also a solutions architect for Sutter Health RD&amp;D. Sometimes it really pays off to approach research projects with the mindset of a developer.
    </p>
    <br>
    <h3 class="content-header-small">Contact</h3>
    <br>
    <p class="content-body">
      You can reach me at <u>james.flamino@newnetwork.cc</u>. However, please be patient if I don't reply right away. My free time can vary greatly. If you want to know about some of the things I've done, feel free to check out my <a href="https://www.linkedin.com/in/james-flamino-476a54103/">LinkedIn</a> for details.
    </p>
  </div>
</div>