<div class="content-body">
  <div class="list-container">
    <h3 class="content-header">Work</h3>
    <br>
    <p class="content-body">
      Here is a showcase of some of my more fun projects.
    </p>
    <!--<h3 class="content-header-small">Complete</h3>-->
    <br>
    <b>Chess Master</b>
    <p class="content-body">
      This project is the result of a joint effort between me and one of my astorphyics friends. My friend is a bit of a chess enthusiast, so we decided to build a chess engine from scratch. However, this is nothing big as every nerd has done something similar, so we decided to do something a bit more novel and hook it up to the Amazon Echo VUI. The real trick was interfacing the game with voice controls in a way that took full advantage of the Echo's quick audio-processing and text-to-speech abilities. Fortunately, the overall project was a success. My only regret was that I didn't realize we couldn't monetize the thing until we were like thirty minutes to completion.
    </p>
    <br>
    <!--<b>Opal</b>
    <p class="content-body">
      This was a project I built when I first got my Amazon Echo. Essentially, Opal is hybrid chatbot that is a bit of a mix between a generative chatbot and a flow chatbot. That is nothing special, however. The biggest feature I put into Opal was the massive set of APIs, that allows her to handle a multitude of tasks usually reserved for individual Echo Skills. This was less of a feat of AI and more of a practical exercise in API convergence. Once third-party app notification functionality is enabled for the Echo, I will really be able to flesh out Opal and her communication capabilities.
    </p>-->
  </div>
</div>