<span class="mdl-main-group-layout">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title mdl-main-layout-title">Trojan Tome</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation-color__link mdl-navigation__link" [routerLink]="['/']">Blog</a>
        <a class="mdl-navigation-color__link mdl-navigation__link" [routerLink]="['/work']">Work</a>
        <a class="mdl-navigation-color__link mdl-navigation__link" [routerLink]="['/about']">About</a>
      </nav>
    </div>
  </div>
</span>

<span class="mdl-mobile-group-layout">
  <div class="mld-menu-button">
    <button class="mdl-button mdl-js-button mdl-button--fab" (click)="menuClick()">
      <i class="material-icons" *ngIf="!menuVisible">menu</i>
      <i class="material-icons" *ngIf="menuVisible">close</i>
    </button>
  </div>
  <a class="sideline-title" [routerLink]="['/']">Trojan Tome</a>
</span>
<!--<div class="menu-box swing-in-top-fwd" *ngIf="menuVisible">-->
<div [class]="menuTransition" *ngIf="active | async">
  <hr class="mdl-mobile-separator">
  <div class="settings-grid">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <a class="mdl-button mdl-js-button mdl-js-ripple-effect option-text" [routerLink]="['/']" (click)="menuClick()">
          Blog
        </a>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <a class="mdl-button mdl-js-button mdl-js-ripple-effect option-text" [routerLink]="['/work']" (click)="menuClick()">
          Work
        </a>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <a class="mdl-button mdl-js-button mdl-js-ripple-effect option-text" [routerLink]="['/about']" (click)="menuClick()">
          About
        </a>
      </div>
    </div>
  </div>
</div>

<div class="content-group">
  <div class="content-center">
    <router-outlet></router-outlet>
  </div>
</div>