<div class="content-body">
  <div class="list-container">
    <a class="list-title">{{ title }}</a>
    <p class="content-body date">{{ date }}</p>
    <br>
    <p class="content-body">
      A while back, I read this neat article called <a href="http://karpathy.github.io/2016/09/07/phd/">A Survival Guide to a PhD</a>. In this article, it encourages the reader to "Not play the game". This means that as a PhD, we are more than a sequence of papers leading to a Magnum Opus. We should do our best to escape from the endless cycle of paper-writing and research and try to look beyond "the established academic game". One can do this by expressing themselves and contributing to the scientific community in ways that could not be done through paper-writing. One way of expression is through a blog. I took the suggestion to heart and started the Trojan Tome blog.
    </p>
    <p class="content-body">
      Unfortunately I don't really have the time to fully commit to writing long articles on complex phenomena. So for this blog, I will probably try for the middle-ground of writing short posts, describing some of the more interesting topics I come across, or discussing new ideas and their applications. Most of these posts will certainly fall under the category of machine learning, since that field has a wide range of applications that can be easily understood. I will also make sure to talk about material in the disciplines of physics, network science, and applied mathematics.
    </p>
    <p class="content-body">
      In fact, I will probably use this blog as an outlet for discussions on the art of writing as well. Understanding how to write properly is not a poor investment for the average researcher. After all, in addition to the research a scientist has to engage in, paper-writing and grant-writing is a massive component of the academic process. Of course, all of this blog post material won't be mashed together in an incoherent mess. I will make sure to tag everything appropriately, and will keep the balance of subject matter in mind, so I don't overwhelm my blog with any single type of material.
    </p>
    <p class="content-body">
      Ultimately, the overall feel of the blog will be that of a notebook. I'm more interested in musing about ideas than transcribing professional minutae, and this blog is the perfect place to put incoherent thought into slightly-more-coherent writing. And that is a practice that is beneficial to both me and the reader.
    </p>
    <p class="content-body">
      That's about it for now. Insert another quarter and lets keep this game going.
    </p>
    <br>
    <disqus [identifier]="identifier"></disqus>
  </div>
</div>